// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
  font-family: 'font-over-the-rainbow';
  src: url('./assets/overtherainbow-regular.ttf') format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: normal;

}

@font-face {
  font-family: 'font-outfit';
  src: url('./assets/outfit-variable.ttf') format('woff2-variations');
  font-display: swap;
  font-style: normal;
  font-weight: 400 500 700 900;
}