//home page content video 
html,
body {
  margin: 0;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.panel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  color: white;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}


body.active {  overflow-y: hidden!important; }
.orangeWrapper {
  padding: 0;
  width: 100vw;
  height: 100vh;
}


//team section
@import url('https://fonts.googleapis.com/css2?family=Over+the+Rainbow&display=swap');

.team__role {
  font-family: 'Over the Rainbow', cursive;
}


// on hover over image effect
.cursor {
  transition: 0.5s cubic-bezier(0.75, -1.75, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;

  &::before {
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    top:35%;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    content: attr(data-before);
    border-radius: 100%;
    color: black;
    opacity: 0;
  }
}

.cursor.active--cursor {
  opacity: 1;
  transform: scale(1);
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: white;
  border: 1px solid black;

  &::before {
    opacity: 1;
  }
}


.cursor__follower {
  transition: 0.6s cubic-bezier(0.75, -1.75, 0.3, 2.33) transform, 0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  transform: translate(4px, 4px);

}

.cursor__follower.active--cursor {
  opacity: 1;
  transform: scale(0);
}



//how we can help
//image gallery

.platforms {
//   background: transparent;
//   //height: 100%;
//   //margin: auto;
//   overflow: hidden;
//   //position: absolute;
//   //width: 100%;
//   z-index: 1;
//   .slide-track{
//     display: flex;
//     flex-direction: row;
//     row-gap: 10px;
//     //width: calc(200px * 32);
//     //top: 30%;
//     position: relative;
//   }
// }
}
.img{
  position: relative; 
  border-radius: 20px;
  margin-right: 20px;
  // width: 200px;
  // height: auto;
}


 

.card{
  margin-left: -18em;
  transition:  margin-left 200ms;
  border-radius: 1rem;

}

.card:hover + .card{
  margin-left: -1em;
}


//gallery

.reel{
    margin-bottom: 100px;
    display: flex;
    width: 500%;
    height: 450px;
    align-items: center;
    overflow: hidden;
     animation:reel 70s linear infinite both;
     &:hover{
      animation-play-state: paused;
      transition: .5s ease-in-out;
     }
}
@keyframes reel{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-20%);
    }
}
.reel .pic{
    background-position: center;
    background-size: cover;
    width: 170px;
    height:300px;
    margin-left: 20px;
    margin-right: 20px;
    transition: all .4s ease-in-out;
    &:nth-child(odd){
          width: 300px;
            height:200px;
    }
}
.reel .pic:hover{
    transition: all .4s ease-in-out;
    transform: scale(1.12);
    border-radius: 2rem;

}
.reel .pic0{
    background-image: url(/dist/assets/images/gallery1.jpg);
}
.reel .pic1{
    background-image: url(/dist/assets/images/gallery2.jpg);
}
.reel .pic2{
    background-image: url(/dist/assets/images/gallery3.jpg);
}
.reel .pic3{
    background-image: url(/dist/assets/images/gallery4.jpg);
}
.reel .pic4{
    background-image: url(/dist/assets/images/gallery5.jpg);
}
.reel .pic5{
    background-image: url(/dist/assets/images/gallery6.jpg);
}
.reel .pic6{
    background-image: url(/dist/assets/images/gallery7.jpg);
}
.reel .pic7{
    background-image: url(/dist/assets/images/gallery8.jpg);
}
.reel .pic8{
    background-image: url(/dist/assets/images/gallery9.jpg);
}
.reel .pic9{
    background-image: url(/dist/assets/images/gallery4.jpg);
}
.about_us_box{
  margin-top: 100px;
}