// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
//marquee
.marquee {
    position: fixed;
    width: 10000px;
    max-width: 100%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    top: 0;
}

.hero__content {
    width: 10000px;
    max-width: 100%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    top: 0;
}


div[class^="content_"] {
    white-space: nowrap;
    will-change: transform;
    animation: marquee 32s linear infinite both;
    color: #195B3E;
}

.content_2 {
    animation-direction: reverse !important;
}

.hero-overflow {

    transform: translate(-50%, -50%) scale(.5);
    top: 50%;

}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}


// hero title 

//REPLACE WITH SELF-HOSTING OPTION
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');


.hero__title {

    font-family: 'Rubik Mono One', sans-serif;
    letter-spacing: -6%;

    span {
        &:nth-child(2) {
            font-family: $highlight-font-stack;
            color: #33FF00;
        }
    }
}