// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.marquee {
    position: relative;
    width: 10000px;
    max-width: 100%;
    overflow-x: hidden;
}


div[class^="content_"] {
    white-space: nowrap;
    will-change: transform;
    animation: marquee 100s linear infinite both;
    color: #195B3E;
}

.content_2 {
    animation-direction: reverse !important;
}

.hero-overflow{
    video{
          transform: translate(-50%,-50%);
           top: 50%;
    }
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}