// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

//marquee
.marquee {
    position: fixed;
    width: 10000px;
    max-width: 100%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    top: 0;
}

.hero__content {
    width: 10000px;
    max-width: 100%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    top: 0;
}


div[class^="content_"] {
    white-space: nowrap;
    will-change: transform;
    animation: marquee 50s linear infinite both;
}

.content_2 {
    animation-direction: reverse !important;
    animation-delay: 2s;
}

.hero-overflow {

    transform: translate(-50%, -50%) scale(.5);
    top: 50%;

}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%); 
    }
}


// hero title 

//REPLACE WITH SELF-HOSTING OPTION
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');


.hero__title {

    font-family: 'Rubik Mono One', sans-serif;
    letter-spacing: -6%;

    span {
        &:nth-child(2) {
            font-family: $highlight-font-stack;
            color: #33FF00;
        }
    }
}

body{
    background-color: 1D1D1D;
}
footer {
    padding: 80px 0;
    background-color: 1D1D1D;
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

footer:after {
    width: 100%;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 10%;
    -webkit-transform: skewY(-4deg);
    -moz-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
    -o-transform: skewY(-4deg);
    transform: skewY(-4deg);
    background-color: black;
    z-index: 2;
    color: white;
}


.fa-linkedin{
    color: black;
}

.fa-instagram{
    color: black;
}

.fa-youtube{
    color: black;
}



/// home stuff 
.principles{
  padding: 60px 20px 120px;
  box-sizing: border-box;
}

.principles__container{
    margin: 0 auto;
    width: 100%;
    position: relative;
}
.principles__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 42px;
    line-height: 54px;
    color: #1C2F6B;
    margin-bottom: 32px;
}

.principles__counter{
  position: absolute;
  right: 0;
  top: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #30C5FF;
}

.principles__list {
  display: flex;
  padding-left: calc(50vw - 370px/2);
}

.principles__item{
  background-color: #F5F9FF;
  min-width: 370px;
  padding: 32px;
  margin-left: 30px;
  //transition: .5s all ease;
  cursor: pointer;
  height: 290px;
  box-sizing: border-box;
}

.principles__item:first-of-type{
  margin-left: 0;
}

.principles__item:after {
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #1C2F6B;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s;
  z-index: -1;
}

.principles__item.active:after {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}


.principles__item:hover{
  background-color: #1C2F6B;
  opacity: 1 !important;
}
.principles__item:hover .principles__description,
.principles__item.active .principles__description{
  color: #fff;
}
.principles__number{
  color: #30C5FF;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.principles__description{
  color: #1C2F6B;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  transition: .5s all ease;
}
.content-wrap{
  position:relative;
  width: 333px;
  height: 222px;
  border-radius: 4px;
  /*background-color: limegreen;*/
  background-color: green;
  margin-right: 111px;
  margin-top: -10px;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  /*background-color: limegreen;*/
  background-color: green;
  border-radius: 4px;
  font-size: 30px;
  color: white;
  transform: translateY(50px);
}
