// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


.menu__layout{
display: none;
  transition: ease-in-out 2s;
}

.change{
  display: flex;
}
.who-are-we{
  transform: rotate(52.68) ;
}