// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


.menu__layout{
display: none;
opacity: 0;
    transition:opacity ease-in-out 2s;
}

.change{
  display: flex;
  opacity: 1;
    transition:opacity ease-in-out 2s;
  
}

.change-nav{
    background-color: transparent;
}
.who-are-we{
  transform: rotate(52.68) ;
}