// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
//purpose led
.a-button:not(.collapsed) {
  background-color: none!important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
/// Regular font family
/// @type List
$font-outfit: 'font-outfit', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// secondary font family
/// @type List
$highlight-font-stack: 'font-over-the-rainbow', 'Lucida Sans', Verdana, sans-serif !default;


/// secondary font family
/// @type List
$title-font-stack: 'font-rubik-mono', Verdana, sans-serif !default;




/// Standard colors
$white: #F2EFE8 !default;
$black: #1D1D1D !default;
$dark-black: #0D0D0D !default;

//yellow
$yellow: #D9B138;
$light-yellow:#FFF9EB;

/// green
$hero-green: #195B3E !default;
$introduction-background: #155000;
$mid-green:#103901;
$dark-green:#2A4D4C;
$neon-green:#00FF66;


/// Container's maximum width
/// @type Length
$max-width: 1180px !default;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/assets/' !default;
